[
    (
        transform: (pos: (x: 1200.0, y: -100.0), rot_degrees: 30.0),
        rotation_matrix: (pivot: (x: 0.0, y: 0.0)),
        translation: (lin_vel: (x: 0.0, y: 0.0), force: (x: 0.0, y: 0.0), mass: 5.0),
        rotation: (ang_vel: 0.0, torque: 0.0, inertia: 1.0),
        surface: (elast: 0.5, static_friction: 0.2, kinetic_friction: 0.15),
        shape: Quad((
            a: (x: 0.0, y: 0.0),
            b: (x: 0.0, y: 80.0),
            c: (x: 80.0, y: 80.0),
            d: (x: 80.0, y: 0.0),
        )),
        material: (color: (r: 255, g: 0, b: 255, a: 255), layer: 2, show: true),
    ),
    (
        transform: (pos: (x: 400.0, y: 400.0), rot_degrees: 0.0),
        rotation_matrix: (pivot: (x: 0.0, y: 0.0)),
        translation: (lin_vel: (x: 0.0, y: 0.0), force: (x: 0.0, y: 0.0), mass: 4.0),
        rotation: (ang_vel: 0.0, torque: 0.0, inertia: 1.0),
        surface: (elast: 0.6, static_friction: 0.2, kinetic_friction: 0.15),
        shape: Quad((
            a: (x: 0.0, y: 0.0),
            b: (x: 0.0, y: 65.0),
            c: (x: 65.0, y: 65.0),
            d: (x: 65.0, y: 0.0),
        )),
        material: (color: (r: 255, g: 0, b: 0, a: 255), layer: 2, show: true),
    ),
    (
        transform: (pos: (x: 600.0, y: 0.0), rot_degrees: 45.0),
        rotation_matrix: (pivot: (x: 0.0, y: 0.0)),
        translation: (lin_vel: (x: 0.0, y: 0.0), force: (x: 0.0, y: 0.0), mass: 0.5),
        rotation: (ang_vel: 0.0, torque: 0.0, inertia: 1.0),
        surface: (elast: 0.65, static_friction: 0.2, kinetic_friction: 0.15),
        shape: Quad((
            a: (x: 0.0, y: 0.0),
            b: (x: 0.0, y: 15.0),
            c: (x: 15.0, y: 15.0),
            d: (x: 15.0, y: 0.0),
        )),
        material: (color: (r: 255, g: 255, b: 0, a: 255), layer: 2, show: true),
    ),
    (
        transform: (pos: (x: 650.0, y: 0.0), rot_degrees: 0.0),
        rotation_matrix: (pivot: (x: 0.0, y: 0.0)),
        translation: (lin_vel: (x: 0.0, y: 0.0), force: (x: 0.0, y: 0.0), mass: 0.75),
        rotation: (ang_vel: 0.0, torque: 0.0, inertia: 1.0),
        surface: (elast: 0.5, static_friction: 0.2, kinetic_friction: 0.15),
        shape: Quad((
            a: (x: 0.0, y: 0.0),
            b: (x: 0.0, y: 15.0),
            c: (x: 15.0, y: 15.0),
            d: (x: 15.0, y: 0.0),
        )),
        material: (color: (r: 0, g: 255, b: 255, a: 255), layer: 2, show: true),
    ),
    (
        transform: (pos: (x: 425.0, y: 325.0), rot_degrees: 0.0),
        rotation_matrix: (pivot: (x: 0.0, y: 0.0)),
        translation: (lin_vel: (x: 0.0, y: 0.0), force: (x: 0.0, y: 0.0), mass: 0.5),
        rotation: (ang_vel: 0.0, torque: 0.0, inertia: 1.0),
        surface: (elast: 0.65, static_friction: 0.2, kinetic_friction: 0.15),
        shape: Quad((
            a: (x: 0.0, y: 0.0),
            b: (x: 0.0, y: 15.0),
            c: (x: 15.0, y: 15.0),
            d: (x: 15.0, y: 0.0),
        )),
        material: (color: (r: 0, g: 0, b: 255, a: 255), layer: 2, show: true),
    ),
    (
        transform: (pos: (x: 500.0, y: 325.0), rot_degrees: 0.0),
        rotation_matrix: (pivot: (x: 0.0, y: 0.0)),
        translation: (lin_vel: (x: 0.0, y: 0.0), force: (x: 0.0, y: 0.0), mass: 0.5),
        rotation: (ang_vel: 0.0, torque: 0.0, inertia: 1.0),
        surface: (elast: 0.65, static_friction: 0.2, kinetic_friction: 0.15),
        shape: Triangle((
            a: (x: -15.0, y: 0.0),
            b: (x: 0.0, y: 20.0),
            c: (x: 15.0, y: 0.0)
        )),
        material: (color: (r: 100, g: 200, b: 100, a: 255), layer: 2, show: true),
    ),
    (
        transform: (pos: (x: 550.0, y: 325.0), rot_degrees: 35.0),
        rotation_matrix: (pivot: (x: 0.0, y: 0.0)),
        translation: (lin_vel: (x: 0.0, y: 0.0), force: (x: 0.0, y: 0.0), mass: 0.5),
        rotation: (ang_vel: 0.0, torque: 0.0, inertia: 1.0),
        surface: (elast: 0.65, static_friction: 0.2, kinetic_friction: 0.15),
        shape: Triangle((
            a: (x: -20.0, y: 0.0),
            b: (x: 0.0, y: -30.0),
            c: (x: 10.0, y: 0.0)
        )),
        material: (color: (r: 100, g: 100, b: 0, a: 255), layer: 2, show: true),
    ),
    (
        transform: (pos: (x: 500.0, y: 375.0), rot_degrees: 0.0),
        rotation_matrix: (pivot: (x: 0.0, y: 0.0)),
        translation: (lin_vel: (x: 0.0, y: 0.0), force: (x: 0.0, y: 0.0), mass: 0.5),
        rotation: (ang_vel: 0.0, torque: 0.0, inertia: 1.0),
        surface: (elast: 0.65, static_friction: 0.2, kinetic_friction: 0.15),
        shape: Polygon((
            verts: [
                (x: -30.0, y: 0.0),
                (x: -5.0, y: 15.0),
                (x: 14.0, y: 20.0),
                (x: 30.0, y: 2.0),
                (x: 4.0, y: -13.0)
            ]
        )),
        material: (color: (r: 100, g: 100, b: 100, a: 255), layer: 2, show: true),
    ),
    (
        transform: (pos: (x: 600.0, y: 400.0), rot_degrees: 45.0),
        rotation_matrix: (pivot: (x: 0.0, y: 0.0)),
        translation: (lin_vel: (x: 0.0, y: 0.0), force: (x: 0.0, y: 0.0), mass: 0.5),
        rotation: (ang_vel: 0.0, torque: 0.0, inertia: 1.0),
        surface: (elast: 0.9, static_friction: 0.15, kinetic_friction: 0.1),
        shape: Polygon((
            verts: [
                (x: -30.0, y: 5.0),
                (x: -20.0, y: 40.0),
                (x: 0.0, y: 50.0),
                (x: 20.0, y: 5.0),
                (x: 4.0, y: -25.0)
            ]
        )),
        material: (color: (r: 125, g: 0, b: 0, a: 255), layer: 2, show: true),
    ),
]
