[
    (
        transform: (
            spawn: (x: 0.0, y: 500.0),
            pos: (x: 0.0, y: 500.0),
            angle: (radians: 0.0),
        ),
        surface: (
            elast: 1.0
        ),
        shape: Rect((
            width: 1500.0,
            height: 25.0
        )),
        material: (
            color: (r: 255, g: 255, b: 255, a: 255),
            layer: 0,
            show: true,
        ),
    ),
    (
        transform: (
            spawn: (x: -350.0, y: 550.0),
            pos: (x: -350.0, y: 550.0),
            angle: (radians: 0.0),
        ),
        surface: (
            elast: 1.0
        ),
        shape: Rect((
            width: 300.0,
            height: 150.0,
        )),
        material: (
            color: (r: 255, g: 255, b: 255, a: 255),
            layer: 0,
            show: true,
        ),
    )
]
